.App {
  text-align: center;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(41, 199, 199);
  margin: 0 auto;
}

.container {
  background: rgb(155, 240, 211);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background-size: cover;
}

#hometitle {
  margin: 0 auto;
  text-align: center;
}

.picstyle {
  min-height: 30vh;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.nxtstyle {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
}
